<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <title><%= page %> Page</title>
</head>
<body>
    <header>
            <%- include("./partials/navbar") %>

    </header>
    
    <main>
        <div class="sidebar"></div>
        <%- include("./partials/" + page) %>
    </main>

    <footer>
        <%- include("./partials/footer") %>
    </footer>
</body>
</html>