@import url('./sidebar.css');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
html {
    background-color: rgb(15, 15, 15);
}

/* ------- general styles ------- */
main {
    font-family: "Roboto", sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    gap: 2em;
}

header, footer {
    font-family: monospace;
}

/* ------- navbar partial ------- */


.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: clamp(100px, 75%, 900px);
    margin: 4.5em auto;
}

.logo, .navcenter {
    display: flex;
    gap: 1.5em;
    list-style-type: none;
}

.logo a, .navcenter a {
    display: inline-block;
    color: rgb(255, 255, 255);
    font-size: 1.6em;
    transition: ease-in-out 0.2s;
    font-weight: 600;
}

.logo a {
    font-size: 1.8em;
    text-decoration: none;
}

.logo a:hover, .navcenter a:hover {
    text-decoration: none;
    transform: scale(1.1);
    color: rgb(255, 170, 170);
}


@media screen and (max-width: 768px) {
    .nav-container {
        display: block;
        width: 100%;
        flex-direction: column;
        left: 0;
        right: 0;
    }
    .logo a, .navcenter a {
        font-size: 1.4em;
    }
}

/* ------- content partial HOME ------- */


.content {
    text-align: left;;
    color: white;
    font-size: 1.3em;
    margin: 0;

    width: clamp(300px, 50%, 650px);
    padding: 1em;
    border-radius: 20px;
    border: 1px solid rgba(160, 160, 160, 0.8);
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.8);
    transition: ease-in-out 0.2s;
}

.content:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 18px rgba(255, 255, 255, 0.2);
}

.content p {
    font-size: 0.9em;
    color: rgba(255, 255, 255, 0.7)
}

.content img {
    vertical-align: top;
    margin-right: 0.5em
}

/* coding languages */
.codeLanguages {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: clamp(300px, 50%, 650px);
    padding: 1em;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.8);
    border-radius: 20px;

    font-size: 1.3em;
    transition: ease-in-out 0.2s;
    color: white;
}

.codeLanguages:hover {
    background-color: rgba(255, 255, 255, 0.1);
    /* border: 1px solid rgba(255, 255, 255, 0.5); */
    box-shadow: 0 0 18px rgba(255, 255, 255, 0.2);
}

.codeLanguages p {
    font-size: 0.9em;
    color: rgba(255, 255, 255, 0.7)
}

.codeLanguages img {
    width: 50px;
    height: 50px;
    margin-right: 0.5em;
}

/* ------- footer partial ------- */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    bottom: 0;
    text-align: center;
    width: 100%;
    color: white;
    padding-top: 5em;
}

footer p {
    position: relative;
    display: inline-block;
    border-top: 1px solid white;
    padding-top: 0.5em;
}

footer a {
    color: white;
    text-decoration: none;
    font-style: italic;
}