html {
    background-color: rgb(15, 15, 15);
}

/* ------- general styles ------- */
main {
    font-family: Verdana;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    gap: 3em;
}

header, footer {
    font-family: monospace;
}

/* ------- navbar partial ------- */


.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: clamp(100px, 75%, 900px);
    margin: 5em auto;
}

.logo, .navcenter {
    display: flex;
    gap: 1.5em;
    list-style-type: none;
}

.logo a, .navcenter a {
    display: inline-block;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
    transition: ease-in-out 0.2s;
}

.logo {
    font-weight: bold;
}

.logo a:hover, .navcenter a:hover {
    text-decoration: none;
    transform: scale(1.1);
    color: rgb(255, 200, 200);
}


@media screen and (max-width: 768px) {
    .nav-container {
        display: block;
        width: 100%;
        flex-direction: column;
        left: 0;
        right: 0;
    }
}

/* ------- content partial HOME ------- */


.content {
    text-align: left;;
    color: white;
    font-size: 1em;
    margin: 0;

    width: clamp(300px, 50%, 650px);
    padding: 1em;
    border-radius: 20px;
    border: 1px solid rgba(160, 160, 160, 0.8);
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.8);
    transition: ease-in-out 0.3s;
}

.content:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 18px rgba(255, 255, 255, 0.2);
}

.content p {
    font-size: 0.9em;
    color: rgba(255, 255, 255, 0.7)
}

.content img {
    vertical-align: bottom;
    margin-right: 0.5em
}

/* coding languages */
.codeLanguages {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: clamp(300px, 50%, 650px);
    padding: 1em;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.8);
    border-radius: 20px;

    color: white;
}

.codeLanguages p {
    font-size: 0.9em;
    color: rgba(255, 255, 255, 0.7)
}

.codeLanguages img {
    width: 40px;
    height: 40px;
    margin-right: 0.5em;
}

/* ------- footer partial ------- */
footer {
    position: fixed;
    bottom: 0;

    width: 100%;
    text-align: center;

    color: white;
}